.main{
    flex:8;
    /* border:3px solid blue; */
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search{
    flex-basis: 45%;
    /* text-align: center; */
    padding: 5px;
    margin: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.sort{
    flex-basis: 45%;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.tableSection{
    flex-basis: 90%;
    overflow: scroll;
    overflow-y: hidden;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.tableSection table{
    margin: auto;
}